---
import Layout from "../../layouts/Layout.astro";
import { app } from "../../firebase/server";
import { getFirestore } from "firebase-admin/firestore";

interface Post {
  title: string;
  date: string;
  text: string;
  tags: Array<String>;
}

const { id } = Astro.params;

if (!id) {
  return Astro.redirect("/404");
}

const db = getFirestore(app);
const blogRef = db.collection("blog");
const postSnapshot = await blogRef.doc(id).get();

if (!postSnapshot.exists) {
  return Astro.redirect("/404");
}

const post = postSnapshot.data() as Post;
---

<Layout>
  <h1>{post.title}</h1>
  <p>{post.date}</p>
  <p>{post.text}</p>
</Layout>